/* Import Bulma Utilities */
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

// Colours
$yellow: hsl(55, 20%, 75%);
$red: hsl(10, 83%, 31%);

/* Variable changes go here */
$navbar-height: 4rem;
$navbar-item-img-max-height: $navbar-height;

$column-gap: 0.4rem;

/* Import the rest of Bulma */
@import "~bulma";
